<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <title>社員管理システム</title>
</head>

<body>
    <!-- 縮小の自動補正 -->
    <div class="container">
        <!-- 中央寄せ -->
        <div class="row justify-content-center">
            <!-- カラムの幅 -->
            <div class="col-md-5">
                <!-- 下線を引き3px下げる -->
                <div th:if="${session.mode == 'regist'}">
                    <h1 class="border-bottom my-3" th:text="#{employee.regist}"></h1>
                </div>
                <div th:if="${session.mode == 'update'}">
                    <h1 class="border-bottom my-3" th:text="#{employee.update}"></h1>
                </div>
                <form method="post" th:object="${employeeForm}">
                    <!-- テープル枠線、カーソル -->
                    <table class="table table-bordered table-hover">
                        <!-- ID -->
                        <tr>
                            <th th:text="#{employeeId}" class="text-center"></th>
                            <td>
                                <input type="text" th:field="*{employeeId}" class="form-control">
                                <div th:if="${#fields.hasErrors('employeeId')}" th:errors="*{employeeId}"
                                    th:errorclass="text-danger"></div>
                            </td>
                        </tr>
                        <!-- 氏名 -->
                        <tr>
                            <th th:text="#{name}" class="text-center"></th>
                            <td>
                                <input type="text" th:field="*{name}" class="form-control">
                                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                    th:errorclass="text-danger"></div>
                            </td>
                        </tr>
                        <!-- 性別 -->
                        <tr>
                            <th th:text="#{gender}" class="text-center"></th>
                            <td>
                                <input type="radio" value="0" th:field="*{gender}" th:text="#{man}">
                                <input type="radio" value="1" th:field="*{gender}" th:text="#{woman}">
                                <div th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"
                                    th:errorclass="text-danger"></div>
                            </td>
                        </tr>
                        <!-- 更新用パスワード表示 -->
                        <div th:if="${session.mode == 'update'}">
                            <tr>
                                <th th:text="#{password}" class="text-center"></th>
                                <td>
                                    <input type="password" name="password" th:value="*{password}" class="form-control">
                                    <input type="hidden" name="rePassword" th:value="*{password}">
                                </td>
                            </tr>
                        </div>
                        <!-- 新規登録用パスワード表示 -->
                        <div th:if="${session.mode == 'regist'}">
                            <tr>
                                <th th:text="#{password}" class="text-center"></th>
                                <td>
                                    <input type="password" th:field="*{password}" class="form-control">
                                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                        th:errorclass="text-danger"></div>
                                </td>
                            </tr>
                            <tr>
                                <th th:text="#{rePassword}" class="text-center"></th>
                                <td>
                                    <input type="password" th:field="*{rePassword}" class="form-control">
                                    <div th:if="${#fields.hasErrors('rePassword')}" th:errors="*{rePassword}"
                                        th:errorclass="text-danger"></div>
                                    <div th:if="${#fields.hasErrors('validPassword')}" th:errors="*{validPassword}"
                                        th:errorclass="text-danger"></div>
                                </td>
                            </tr>
                        </div>
                        <!-- メールアドレス -->
                        <tr>
                            <th th:text="#{email}" class="text-center"></th>
                            <td>
                                <input type="text" th:field="*{email}" class="form-control">
                                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                    th:errorclass="text-danger"></div>
                            </td>
                        </tr>
                        <!-- 電話番号 -->
                        <tr>
                            <th th:text="#{phone}" class="text-center"></th>
                            <td>
                                <input type="text" th:field="*{phone}" class="form-control" placeholder="000-0000-0000">
                                <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"
                                    th:errorclass="text-danger"></div>
                            </td>
                        </tr>
                        <!-- 入社年月日 -->
                        <tr>
                            <th th:text="#{registDate}" class="text-center"></th>
                            <td>
                                <input type="date" th:field="*{registDate}" class="form-control"
                                    placeholder="yyyy-mm-dd">
                                <div th:if="${#fields.hasErrors('registDate')}" th:errors="*{registDate}"
                                    th:errorclass="text-danger"></div>
                            </td>
                        </tr>
                    </table>
                    <!-- 新規登録ボタン -->
                    <div th:if="${session.mode == 'regist'}">
                        <button type="submit" th:formaction="@{/employee/regist/do}" class="btn btn-primary btn-lg"
                            th:text="#{button.regist}"></button>
                    </div>
                    <!-- 更新ボタン -->
                    <div th:if="${session.mode == 'update'}">
                        <button type="submit" th:formaction="@{/employee/update}" class="btn btn-primary btn-lg"
                            th:text="#{button.update}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>