<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <title>社員管理システム</title>
    <style type="text/css">
        .container table td.text-center {
            vertical-align: middle;
        }
    </style>
</head>

<body>
    <!-- 縮小の自動補正 -->
    <div class="container">
        <!-- 中央寄せ -->
        <div class="row justify-content-center">
            <!-- カラムの幅 -->
            <div class="col-md-10">
                <!-- 下線を引き3px下げる -->
                <h1 class="border-bottom my-3">営業課一覧</h1>
                <!-- テープル枠線、カーソル -->
                <table class="table table-bordered table-hover">
                    <tr class="table-warning">
                        <th class="text-center">課番号</th>
                        <th class="text-center">課名</th>
                        <th class="text-center">合計売上</th>
                        <th class="text-center">合計人数</th>
                        <th class="text-center">1人あたりの売上平均値(小数点切捨)</th>
                        <th></th>
                    </tr>
                    <form method="get">
                        <!-- 一覧画面表示 -->
                        <tr th:each="dpt : ${calcList}">
                            <td th:text="${dpt.id}" class="text-center"></td>
                            <td th:text="${dpt.name}" class="text-center"></td>
                            <td th:text="${dpt.total}" class="text-center"></td>
                            <td th:text="${dpt.count}" class="text-center"></td>
                            <td th:text="${#numbers.formatDecimal(dpt.average,0,0)}" class="text-center"></td>
                            <!-- <th:block th:each="cal,stat : ${calcList}">
                                <div th:if="${dpt.id == stat.index +1}">
                                    <td th:text="${cal.total}" class="text-center"></td>
                                    <td th:text="${cal.count}" class="text-center"></td>
                                    <td th:text="${#numbers.formatDecimal(cal.average,0,0)}" class="text-center"></td>
                                </div>
                            </th:block> -->
                            
                             

                            <td class="text-center"><button type="submit" th:formaction="@{/task/__${dpt.id}__}"
                                    class="btn btn-danger">編集</button>
                            </td>
                        </tr>
                    </form>
                    <form method="post" th:object="${department}">
                        <button type="submit" th:formaction="@{/department/regist}"
                            class="btn btn-primary m-3">営業課新規追加</button>
                        <input size="10" type="text" th:field="*{name}" placeholder="営業課名">
                    </form>
                </table>
            </div>
        </div>
    </div>

</body>

</html>